h1 {
  background-color: red;
  border: 1px solid black;
  color: burlywood;
  font-size: 10px;
}

.container {
  width: 500px;
  height: 400px;
  background-color: blue;
  font-size: 300px;
  border-radius: 5px;
}

img {
  width: 100px;
}
